.content-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header{
  width: 100%;
  align-self: flex-start;

  .logo {
    margin: 50px auto;
  }
}

.section.section-entry.section-age-gate {
  text-align: center;
  width: 100%;
  align-self: flex-start;

  h2{
    margin-bottom: 30px;
  }

  input.btn.btn-sm.btn-primary {
    margin-top: 30px;
  }
}

footer{
  width: 100%;
  align-self: flex-end;
}