<template>
</template>

<script>
export default {
  data(){
     authenticated:false
    },
}


</script>

<style lang="scss">
.section {
  padding: 40px 0;
}
.section-age-gate {
  .form-agegate {
    margin-top: 30px;

    #day,
    #month {
      width: 70px;
    }
    #year {
      width: 105px;
    }
  }
  .form-control {
    margin: 0 10px 0 0;
  }
  .alert {
    margin-top: 30px;
  }
}
</style>
