<template>
  <div id="ageGateOverlayWrapper">
  <form id="ageGateForm" onsubmit="return validateAgeGate(this, <?php echo $ageGateMinAge; ?>);">
    <input type="number" name="dobDay" id="dobDay" placeholder="DD">
    <input type="number" name="dobMonth" id="dobMonth" placeholder="MM">
    <input type="number" name="dobYear" id="dobYear" placeholder="YYYY">
    <br>
    <input type="submit" value="Continue" class="btn btn-sm btn-primary">
    </form>
  <strong id="ageErrorMessage"></strong>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>