<template>
  <header>
   <div class="logo">
      <nuxt-link to="/">
        <Logo />
      </nuxt-link>
    </div>
  </header>
</template>
<script>

</script>

<style lang="scss">
header {
	padding:15px 30px;

	.logo {
		display:block;
		width:200px;

		img {
			display:block;
			max-width:100%;
			height:auto;
		}
	}
}
</style>
