<template>
  <div class="section section-enter-codes">
    <div class="container">
      <h2>Enter Your Codes</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="" />
            <div class="card-body">
              Visual of where the codes are (TO BE SUPPLIED)
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <form class="form-entry needs-validation" v-on:submit.prevent="onSubmit()" novalidate>
            <div class="form-group">
              <label class="field-label" for="code1">Code 1</label>
                <input v-model="code1" type="text" class="form-control" id="code1" name="code1" placeholder="Code 1" required/>
            </div>
            <div class="form-group">
              <label class="field-label" for="code2">Code 2</label>
              <input v-model="code2" type="text" class="form-control" id="code1" name="code2" placeholder="Code 2" required/>
              </div>
            <div class="form-group">
              <label class="field-label" for="code3">Code 3</label>
              <input v-model="code3" type="text" class="form-control" id="code1" name="code3" placeholder="Code 3" required/>
            </div>
            <div class="form-group">
              <label class="field-label">Code 4</label>
              <input v-model="code4" type="text" class="form-control" id="code1" name="code4" placeholder="Code 4" required/>
            </div>
            <div class="form-check">
              <input id="terms" value="" type="checkbox" class="checkbox-field" name="terms" required/>
                <span class="checkmark"></span>
              <label class="label-checkbox" for="terms">I have read and agree to the<a href="terms-conditions.html">Terms &amp; Conditions</a>.</label>
            </div>
            <div class="buttons-row">
              <button class="btn btn-primary submit-entry-form">Enter the promotion</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      code1: "",
      code2: "",
      code3: "",
      code4: ""
    }
  },
  mounted(){
    
      // Get the forms we want to add validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
  },
  async fetch()  {
    console.log(this);
    this.posts = await fetch('/api/https://0ru6ce2o40.execute-api.eu-west-1.amazonaws.com/beta/kfc-holdem/verify-codes').then(res =>
      res.json()
    )
  },
  // call fetch only on client-side
  fetchOnServer: false,
   methods: {
    onSubmit() {
      let data = { 
        code1: this.code1,
        code2: this.code2,
        code3: this.code3,
        code4: this.code4
     };
     console.log(data)
  }
}
}
</script>

<style>
</style>