<template>
  <div class="content" role="main">
    <div class="section section-introduction">
      <div class="container">
        <h1>Enter</h1>
        <p>
          Please see the image below to find your codes. Enter each code in
          the boxes below and click submit to validate your codes. (TO BE
          CONFIRMED)
        </p>
      </div>
    </div>
    <EnterCodes />
  </div>
</template>

<script>
export default {
  head(){
    return{
      title: "Enter Promotion"
    }
  }
};
</script>

<style>

</style>
