<template>
  <div class="section section-entry section-age-gate">
    <div class="container">
      <h2>Please confirm you are over 18</h2>
      <form id="ageGateForm" v-on:submit.prevent="onSubmit()">
        <input type="number" v-model="dobDay" name="dobDay" id="dobDay" placeholder="DD">
        <input type="number" v-model="dobMonth" name="dobMonth" id="dobMonth" placeholder="MM">
        <input type="number" v-model="dobYear" name="dobYear" id="dobYear" placeholder="YYYY">
        <br>
        <input type="submit" value="Continue" class="btn btn-sm btn-primary">
      </form>
      <strong v-bind="ageErrorMessage" id="ageErrorMessage"></strong>
    </div>
  </div>
</template>
<script>
export default {
  name: "",
  props: {
    msg: String
  },
  data() {
    return {
      dobDay: "",
      dobMonth: "",
      dobYear: "",
      ageErrorMessage: "",
      isSuccess: false

    };
  },

  mounted() {
      var allNumberInputs = document.querySelectorAll('input[type=number]');
      var i;
      for (i = 0; i < allNumberInputs.length; i++){
        // Only alow numbers in number inputs and disable the up down spinner arrows
        allNumberInputs[i].addEventListener("focus", function() {
          this.addEventListener("keydown", function(keyDownEvent) {
            if (keyDownEvent.key === 'ArrowUp' || keyDownEvent.key === 'ArrowDown' || keyDownEvent.key === 'e' || keyDownEvent.key === '.' || keyDownEvent.key === '-'){
              keyDownEvent.preventDefault();
            }
          });
        });
      }
      var dayInput = document.getElementById('dobDay');
      var monthInput = document.getElementById('dobMonth');
      var yearInput = document.getElementById('dobYear');

      // only alow 2 numbers to be entered
      dayInput.addEventListener('keypress', function () {
        if(dayInput.value.length > 1){
          return false;
        }
      });
      monthInput.addEventListener('keypress', function () {
        if(monthInput.value.length > 1){
          return false;
        }
      });

      // Move day or month focus to next input if 2 numbers entered
      dayInput.addEventListener('keyup', function () {
        if (dayInput.value.length == 2) {
          dayInput.nextElementSibling.focus();
        }
      });
      monthInput.addEventListener('keyup', function () {
        if (monthInput.value.length == 2) {
          monthInput.nextElementSibling.focus();
        }
      });

      // Year Validation dont alow enter key or more than 4 numbers to be entered
      yearInput.addEventListener('keypress', function (keyPressEvent) {
        if(keyPressEvent.dataKey !== 13 ){
          if(this.value.length > 3){
            keyPressEvent.preventDefault();
            return false;
          }
        }
      });
  },

  methods: {
    onSubmit() {
      let data = {
        dobDay: this.dobDay,
        dobMonth: this.dobMonth,
        dobYear: this.dobYear,
        ageErrorMessage: this.ageErrorMessage
      };

      var ageLimit = '18';
      var today = new Date(),
      dd = today.getDate(),
      mm = today.getMonth() + 1,
      yyyy = today.getFullYear();

      var setDay = dobDay.value;
      var setMonth = dobMonth.value;
      var setYear = dobYear.value;
      var fullDate = setDay + '-' + setMonth + '-' + setYear;
      var errorMessageEl = ageErrorMessage;


      if((setDay == "") || (setMonth == "") || (setYear == "")){
        errorMessageEl.innerHTML = 'Please Enter Your Full Date Of Birth';
        errorMessageEl.classList.add('errored');
        return false;
      }

      if (setDay > 31 || setDay == 0 || setDay == '00') {
        errorMessageEl.innerHTML = 'Please enter a day between 1 & 31';
        errorMessageEl.classList.add('errored');
        return false;
      };
      
      if (setMonth > 12 || setMonth == 0 || setMonth == '00') {
        errorMessageEl.innerHTML = 'Please enter a month between 1 & 12';
        errorMessageEl.classList.add('errored');
        return false;
      };

      if(setYear < 1900){
        errorMessageEl.innerHTML = 'Please enter a year greater than 1900';
        errorMessageEl.classList.add('errored');
        return false;
      };
      if(setDay == 31 && setMonth == 2){
        errorMessageEl.innerHTML = "Please enter a date less than 29";
        errorMessageEl.classList.add('errored');
        return false;
      };
      if (setYear == (yyyy - ageLimit)) {
        if (setMonth == mm) {
          if (setDay > dd) {
            errorMessageEl.innerHTML = 'Sorry you must be ' + ageLimit + '<sup>+</sup> to enter';
            errorMessageEl.classList.add('errored');
            return false;
          } else {
            // Successful submission send data at this point
            errorMessageEl.classList.remove('errored');
            
            //return true;
            return false;
          }
        } else if (setMonth > mm) {
          errorMessageEl.innerHTML = 'Sorry you must be ' + ageLimit + '<sup>+</sup> to enter';
          errorMessageEl.classList.add('errored');
          return false;
        } else {
           // Successful submission send data at this point
          errorMessageEl.classList.remove('errored');
          
          //return true;
          return false;
        }
      }
      else if (setYear > (yyyy - ageLimit)) {
        errorMessageEl.innerHTML = 'Sorry you must be ' + ageLimit + '<sup>+</sup> to enter' ;
        errorMessageEl.classList.add('errored');
        return false;
      }
      else {
        this.$router.push('/two-option');
        errorMessageEl.classList.remove('errored');
        //return true;
        return false;
      }

    }
  }    
}
 
</script>

<style lang="scss">
.section-age-gate {
  .form-agegate {
    margin-top: 30px;

    #day,
    #month {
      width: 70px;
    }
    #year {
      width: 105px;
    }
  }
  .form-control {
    margin: 0 10px 0 0;
  }
  .alert {
    margin-top: 30px;
  }
  #ageErrorMessage{
    display: none;
  }
  #ageErrorMessage.errored{
    display: block;
  }
  
}
// Hide Native Spinners
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Firefox
input[type=number] {
  -moz-appearance: textfield;
}
</style>
