<template>
	<div class="content" role="main">
    <div class="section section-introduction">
      <div class="container">
        <h1>Terms &amp; Conditions</h1>
        <p>Etiam consectetur erat sit amet facilisis gravida. Nunc suscipit consectetur fermentum. Integer vitae erat nec lorem bibendum fermentum et eget massa. Morbi leo quam, aliquet eu tortor eu, lacinia scelerisque metus. Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat. Curabitur velit libero, congue in ultrices vel, tempus venenatis mauris. Nam convallis ultricies dui non aliquet.</p>
      </div>
    </div>
    <div class="section section-terms">
      <div class="container">
        <p>Etiam consectetur erat sit amet facilisis gravida. Nunc suscipit consectetur fermentum. Integer vitae erat nec lorem bibendum fermentum et eget massa.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <ol>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <ol start="6">
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
              <li>Vivamus rutrum ex vel ipsum scelerisque, at hendrerit nisi placerat.</li>
            </ol>
          </div>
        </div>
    </div>
	</div>
</div>
</template>

<script>
export default{
  head(){
    return{
      title: "Terms & Conditions"
    }
  }

}
</script>

<style lang="scss">


</style>