<template>
  <div class="content" role="main">
    <div class="section section-introduction">
      <div class="container">
        <h1>Thank you for providing your details</h1>
        <p>We will validate your details and if you pass the validation successfully, you expect the prize within 28 working days.
            If you don’t pass the validation, we will email you within 10 working days and explain why the prize can?t be awarded. (TO BE CONFIRMED)</p>
        <p>Please return to the <a href="/">Entry Page</a> or why not check out our <a href="#">Website</a>.</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  

}
</script>

<style>

</style>